/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282c34;
  padding: 7px 14px;
  color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add box shadow for elevation */
  transition: box-shadow 0.3s ease; /* Add smooth transition to the box shadow */
}

/* Logo */
.logo img {
  width: 190px; /* Adjust the width as needed */
}

.button-container .post-job-button {
  background-color: transparent;
  border: 2px solid #682ad5;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease, border 0.3s ease;
  margin-right: 20px;
}

.button-container .post-job-button:hover {
  background-color: #5616c3;
  border: 2px solid #5616c3;
}

.find-job-button {
  background-color: #682ad5;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 20px;
}

.find-job-button:hover {
  background-color: #5616c3;
}

/* Adjust the button's position to the right */
.button-container {
  margin-left: auto;
}
